---
import BaseLayout from '../layouts/BaseLayout.astro';
import OldWasherPickupIsland from '../components/islands/OldWasherPickupIsland';
---

<BaseLayout
  title="Old Washer Pickup Ocean Springs MS | Sudsy Co."
  description="Free old washer pickup in Ocean Springs, MS when you start a Sudsy Co. rental. We haul away your old machine so you don't have to. Call (228) 338-3455."
>
  <h1 class="sr-only">Old Washer Pickup in Ocean Springs, MS</h1>
  <OldWasherPickupIsland client:only="react" />
</BaseLayout>
